:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(169, 82%, 27%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--green-200);
}

form {
    max-width: 400px;
    margin: 40px auto;
    height: 450px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.name-fields {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.name-fields div {
    width: 50%;
    padding: px 10px;
    box-sizing: border-box;

}

.name-fields div label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.name-fields div input {
    width: 99%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

@media (max-width: 768px) {
    .name-fields {
        flex-direction: column;
    }
}

.query-type-fields {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  
}

.query-type-fields div {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
  gap: 5px;
  display: flex;
  margin-bottom: 10px;
  height: 25px;
}

.query-type-fields label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.query-type-fields div input[type="radio"] {
    margin: 0;
    vertical-align: baseline;
    margin-right: 5px;
    float: left;
     accent-color: var(--green-600);
    position: relative;
  top: 2px; 

}

.query-type-fields div label {
    font-size: 14px; 
}

.query-type-fields input[type="radio"] {
  margin-right: 1px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--grey-500);
    border-radius: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.consent-wrapper input[type="checkbox"] {
  position: relative;
  top:2px;
  vertical-align: middle;
  margin-top: 5px;
}

button[type="submit"] {
    background-color: var(--green-600);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button[type="submit"]:hover {
    background-color: var(--green-200);
    color: var(--grey-900);
}
input[type="email"] {
  width: 100%; 
  max-width: 378px;
  height: 3px;
}
.consent-wrapper {
  display: flex;
  align-items: baseline;
  font-size: 14px;
}

.consent-wrapper input[type="checkbox"] {
  margin-right: 10px;
  position: relative;
  top: -0px; 
}
.consent-wrapper label {
  position: relative;
  top: -2px;
}

.error-message {
    color: var(--red);
    font-size: 12px;
    margin-bottom: 10px;
}

.success-message {
    color: var(--green-600);
    font-size: 16px;
    margin-bottom: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
}
textarea {
  width: 95%; 
  max-width: 400px;
}

.attribution a {
    color: var(--green-200);
}
.query-type-fields {
  display: flex;
  gap: 7px;
  align-items: center;
}

.query-type-fields input[type="radio"] {
  vertical-align: middle;
  margin-top: 10px; 
}

.query-type-fields label {
  white-space: nowrap;
  font-size: 14px;
  margin-top: 8px;
}


